#root {
  text-align: center;
}

.article_img {
  width: 30vw;
  border-radius: 10px;
}

.article_card {
  width: 80vw;
  padding: 2vw;
  margin: 5vw;
  box-sizing: content-box;
  border: 1px solid black;
  display: flex;
  justify-content: flex-start;
  text-align: left;
  column-gap: 2%;
}

.article_info {
  margin: 1%;
  width: 100%;
}

.article_stats {
  display: flex;
  gap: 5%;
  justify-content: start;
}